<?xml version="1.0"?>
<package xmlns="http://schemas.microsoft.com/packaging/2010/07/nuspec.xsd">
    <metadata>
        <id>{{.Id}}</id>
        <version>{{.Version}}</version>
        <title>{{.Title}}</title>
        <authors>{{.Authors}}</authors>
        <owners>{{.Owners}}</owners>
        <requireLicenseAcceptance>{{.RequireLicenseAcceptance}}</requireLicenseAcceptance>
        <description>{{.Description}}</description>
        <summary>{{.Summary}}</summary>
        <tags>{{.Tags}}</tags>
    </metadata>
</package>